@{
    Layout = "_Layout";
    ViewData["Title"] = "Admin Dashboard";
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<h1>Panel administratora</h1>

<div class="list-group">
    <a class="list-group-item list-group-item-action" href="/Admin/Users">Zarządzaj użytkownikami</a>
    <a class="list-group-item list-group-item-action" href="/Admin/Roles">Zarządzaj rolami</a>
</div>
</body>
</html>