<li class="nav-item">
    <a class="nav-link " asp-area="" asp-controller="Parts" asp-action="Index">
        <i class="bi bi-box-seam me-1"></i>Części
    </a>
</li>
<li class="nav-item">
    <a class="nav-link " asp-area="" asp-controller="PartType" asp-action="Index">
        <i class="bi bi-tags-fill me-1"></i>Typy części
    </a>
</li>