<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Parts" asp-action="Index">Części</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="PartType" asp-action="Index">Typy
        części</a>
</li>