@model WarsztatSamochodowyApp.DTO.VehicleDto

@{
    ViewData["Title"] = "Edytuj Pojazd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edytuj Pojazd</h1>

<h4>Dane pojazdu</h4>
<hr class="border-secondary"/>
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger mb-3"></div>
            <input type="hidden" asp-for="Id"/>
            <div class="form-group mb-3">
                <label asp-for="Vin" class="control-label"></label>
                <input asp-for="Vin" class="form-control"/>
                <span asp-validation-for="Vin" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="RegistrationNumber" class="control-label"></label>
                <input asp-for="RegistrationNumber" class="form-control"/>
                <span asp-validation-for="RegistrationNumber" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="ImageUrl" class="control-label">URL zdjęcia</label>
                <input asp-for="ImageUrl" class="form-control"/>
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="ClientId" class="control-label">Właściciel</label>
                <select asp-for="ClientId" class="form-control" asp-items="ViewBag.ClientId"></select>
                <span asp-validation-for="ClientId" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                <input type="submit" value="Zapisz zmiany" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div class="mt-4">
    <a asp-action="Index" class="btn btn-outline-secondary">
        <i class="bi bi-arrow-left me-2"></i>Powrót do listy
    </a>
</div>