@using Microsoft.AspNetCore.Identity
@using WarsztatSamochodowyApp.Data
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            @* ZMIANA: Zmieniamy klasę na 'nav-link', która odziedziczy jasny kolor z motywu *@
            <a id="manage" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index"
               title="Manage">Witaj @UserManager.GetUserName(User)!</a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                  asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                @* ZMIANA: Tutaj też używamy 'nav-link' *@
                <button id="logout" type="submit" class="nav-link btn btn-link border-0">Wyloguj <i
                        class="bi bi-box-arrow-right ms-1"></i></button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            @* ZMIANA: Klasa 'nav-link' dla jasnego tekstu *@
            <a class="nav-link" id="register" asp-area="Identity" asp-page="/Account/Register">Rejestracja</a>
        </li>
        <li class="nav-item">
            @* ZMIANA: Klasa 'nav-link' dla jasnego tekstu *@
            <a class="nav-link" id="login" asp-area="Identity" asp-page="/Account/Login">Logowanie</a>
        </li>
    }
</ul>
