<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      autoReload="true"
      throwConfigExceptions="true">

    <targets>
        <target xsi:type="File" name="logfile" fileName="logs/errors.log"
                layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception}"/>
    </targets>

    <rules>
        <logger name="*" minlevel="Error" writeTo="logfile"/>
    </rules>
</nlog>